<h1>Update item</h1>
<%= form_for @item do |f| %>
		<p>Название<br><%= f.text_field :name %></p>
		<p>Описание<br><%= f.text_field :description %></p>
		<p>Цена<br><%= f.text_field :price %></p>
		<p>Площадь<br><%= f.text_field :weight %></p>
		<p><br><%= f.submit "Создать Объект" %></p>
<% end %>