<h1>Items</h1>

<% if @items.empty? %>
	<b>No items in store</b>
<% else	%>
	<table>
		<tr>
			<th>id</th>
			<th>Name</th>
			<th>Price</th>
			<th>Description</th>
			<th></th>
			<th></th>
		</tr>

		<% @items.each do |i| %>
		<tr>
			<td> <%= i.id %> </td>
			<td> <%= link_to i.name, item_path(i) %> </td>
			<td> <%= i.price %> </td>
			<td> <%= i.description %> </td>
			<td> <%= link_to "delete", i, method: :delete, data: { confirm: "do you want delete this Item ?"} %></td>
			<td> <%= i.votes_count %>, <%= link_to "+", upvote_item_path(i) %> </td>
		</tr>
		<% end %>
	</table>
<% end %>